@using BugTrackerByBenci.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BugTrackerByBenci.Models.ViewModels.ProjectsWithPMViewModel

@{
    ViewData["Title"] = "All Projects";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="border-bottom title-part-padding">

                <h4 class="card-title mb-0">Zero Configuration</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Description</th>
                                <th>Created Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Image</th>
                                <th>Priority</th>
                                <th>PM Assigned</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Projects!)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        @if (item?.FileData != null)
                                        {
                                            <img id="projectImage" class="img-fluid img-thumbnail mt-2" style="width:120px;height:120px" src="data:image/*;base64,@(Convert.ToBase64String(item.FileData))">
                                        }
                                        else
                                        {
                                            <img id="projectImage" class="img-fluid img-thumbnail mt-2" style="width:120px;height:120px" src="https://cdn.icon-icons.com/icons2/2331/PNG/512/task_software_platform_management_project_icon_142266.png">
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item!.Priority!.Name)
                                    </td>
                                    <td>
                                        @if (Model.PMofProjectId.ContainsKey(item!.Id))
                                        {
                                            @Model.PMofProjectId[item.Id]
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item!.Id">Details</a> |<br />
                                        <a asp-action="Archive" asp-route-id="@item!.Id">Archive</a> |<br />
                                        @if (User.IsInRole(nameof(BTRoles.Admin)))
                                        {
                                            <a asp-action="AssignProjectManager" asp-route-id="@item!.Id">Assign PM</a>
                                        }
                                        @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                        {
                                            <text> | </text>
                                            <a asp-action="AssignProjectMembers" asp-route-id="@item!.Id">Assign Project Members</a>
                                            <a asp-action="Edit" asp-route-id="@item!.Id">Edit</a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Description</th>
                                <th>Created Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Image</th>
                                <th>Priority</th>
                                <th>PM Assigned</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>