@model IEnumerable<BugTrackerByBenci.Models.Project>

@{
    ViewData["Title"] = "Uassigned Projects";
}

<h1>Unassigned Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Project Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (item?.FileData != null)
                {
                    <img id="projectImage" class="img-fluid img-thumbnail mt-2" style="width:120px;height:120px" src="data:image/*;base64,@(Convert.ToBase64String(item.FileData))" >
                }
                else
                {
                    <img id="projectImage" class="img-fluid img-thumbnail mt-2" style="width:120px;height:120px" src="https://cdn.icon-icons.com/icons2/2331/PNG/512/task_software_platform_management_project_icon_142266.png">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.Company!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.Priority!.Name)
            </td>
            <td>
                <a asp-action="AssignProjectManager" asp-route-id="@item!.Id">Assign PM</a> |
                <a asp-action="AssignProjectMembers" asp-route-id="@item!.Id">Assign Members</a>
            </td>
        </tr>
}
    </tbody>
</table>
