@model BugTrackerByBenci.Models.Ticket

@{
    ViewData["Title"] = "Restore Ticket";
}

<div class="container">
    <div class="row">
        <div class="col col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3>Are you sure you want to archive this ticket?</h3>
                    <div>
                        <hr />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Properties</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Title)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Description)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Created)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Updated)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Updated)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Project)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Project!.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.TicketPriority)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.TicketPriority!.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.TicketStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.TicketStatus!.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.TicketType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.TicketType!.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.SubmitterUser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SubmitterUser!.FullName)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.DeveloperUser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DeveloperUser!.FullName)
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <form asp-action="Restore">
                            <div class="form-group text-center">
                            <input type="hidden" asp-for="Id"/>
                            <a asp-action="Index" class="btn btn-outline-secondary m-2">Cancel</a>
                            <input type="submit" class="btn btn-success" value="Restore"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>