@using BugTrackerByBenci.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<BugTrackerByBenci.Models.Ticket>

@{
    ViewData["Title"] = "Unassigned Tickets";
}

<div class="table-responsive" style="overflow-y:auto;height:600px;">
    <table class="table table-hover">
        <thead class="">
            <tr>
                @* Table header *@
                <th>Title</th>
                <th>Developer</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @* Table body *@
            @foreach (var ticket in Model.OrderByDescending(d => d.Created))
            {
                <tr>
                    <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                    <td>
                        @if (ticket.DeveloperUserId != null)
                        {
                            @ticket.DeveloperUser?.FullName
                        }
                        else
                        {
                            if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                            {
                                <a class="btn btn-xs btn-info" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                            }
                        }
                    </td>
                    @if (ticket.TicketStatus!.Name == "New")
                    {
                        <td><span class="badge-success">@ticket.TicketStatus.Name </span></td>
                    }
                    else
                    {
                        <td><span class="badge-primary">@ticket.TicketStatus.Name </span></td>
                    }
                    <td><span class="badge-primary">@ticket.TicketPriority!.Name </span></td>
                    <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                    <td>
                        <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 ti-info-alt" data-bs-toggle="tooltip" title="Details"></i></a>
                        @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                        {
                            <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@ticket.Id"><i class="fs-5 ti-pencil-alt" data-bs-toggle="tooltip" title="Edit"></i></a>
                            <a class="btn btn-sm btn-outline-danger" asp-action="Archive" asp-route-id="@ticket.Id"><i class="fs-5 ti-archive" data-bs-toggle="tooltip" title="Archive"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>