@using BugTrackerByBenci.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<BugTrackerByBenci.Models.Ticket>

@{
    ViewData["Title"] = "Unassigned Tickets";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="zero_config" class="table table-hover">
                        <thead class="">
                            <tr>
                                @* Table header *@
                                <th>Title</th>
                                <th>Developer</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* Table body *@
                            @foreach (var ticket in Model.OrderByDescending(d => d.Created))
                            {
                                <tr>
                                    <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><strong>@ticket.Title</strong></a> </td>
                                    <td>
                                        @if (ticket.DeveloperUserId != null)
                                        {
                                            @ticket.DeveloperUser?.FullName
                                        }
                                        else
                                        {
                                            if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                            {
                                                <a class="btn btn-xs btn-info" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <span data-status="@ticket.TicketStatus!.Name">@ticket.TicketStatus!.Name</span>
                                    </td>
                                    <td>
                                        <span data-priority="@ticket.TicketPriority!.Name">@ticket.TicketPriority!.Name</span>
                                    </td>
                                    <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light-primary text-primary dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-cog"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">
                                                    <i data-feather="eye"
                                                   class="feather-sm me-2"></i> Details
                                                </a>
                                                @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                                {
                                                    <a class="dropdown-item" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id">
                                                        <i data-feather="edit-2"
                                                   class="feather-sm me-2"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item" asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id">
                                                        <i data-feather="trash-2"
                                                   class="feather-sm me-2"></i> Archive
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
