@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, ample admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template">
    <meta name="description" content="Ample is powerful and clean admin dashboard template">
    <title>Bug Tracker Login</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ampleadmin/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Ample/landing-assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/Ample/landing-assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet"
          type="text/css" />
    <link href="/Ample/landing-assets/libs/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet"
          type="text/css" />
    <!-- Custom CSS -->
    <link href="/Ample/landing-assets/css/style.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@200;400&family=Roboto:wght@300;700&display=swap"
        rel="stylesheet">

</head>
<body>
<div class="loginBox ">
    <div class="appLogoContainer">
        <img class="appLogo" src="/img/bugTrackerLogo.png" alt="">
    </div>

    <div class="container mt-5 text-center">
        <!-- <div class="form-signin bg-light"> -->
        <form id="account" method="post">
            <h1 class="mb-5 appTitle">Bug Tracker</h1>
            <h1 class="signInText h3 my-4 fw-normal">Please sign in</h1>
            <div class="container">

                <div class="form-floating">
                    <input asp-for="Input.Email" id="floatingInput" class="form-control" autocomplete="username" aria-required="true" type="email"  placeholder="name@example.com">
                    <label asp-for="Input.Email">Username/Email address</label>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" id="floatingPassword" class="form-control" autocomplete="current-password" aria-required="true" type="password" class="form-control"  placeholder="Password">
                    <label asp-for="Input.Password">Password</label>
                </div>

                <div class="checkbox mb-1">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input asp-for="Input.RememberMe" type="checkbox" value="remember-me"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                </div>
                <div class="row d-flex justify-content-center">
                    <div id="signInButton" class="col g-0">
                        <button id="login-submit" asp-route-returnUrl="/Home/Dashboard" class="myButton mb-3" type="submit">Sign in</button>
                    </div>
                </div>
                <div class="row d-flex justify-content-center my-2">
                    <span>Login as one of Demo Users</span>
                </div>

                <div id="demoLogin" class="row d-flex justify-content-center">
                    <div class="col col-md-3 g-0">
                        <button asp-route-returnUrl="/Home/Dashboard" class="myButton" data-toggle="tooltip" title="Demo Admin" type="submit" name="demoEmail" value="DemoAdminEmail">Admin</button>
                    </div>
                    <div class="col col-md-3 g-0">
                        <button asp-route-returnUrl="/Home/Dashboard" class="myButton" data-toggle="tooltip" title="Demo Project Manager"
                                type="submit" name="demoEmail" value="DemoPMEmail">PM</button></div>
                    <div class="col col-md-3 g-0">
                        <button asp-route-returnUrl="/Home/Dashboard" class="myButton" data-toggle="tooltip" title="Demo Developer"
                                type="submit" name="demoEmail" value="DemoDevEmail">Developer</button></div>
                    <div class="col col-md-3 g-0">
                        <button asp-route-returnUrl="/Home/Dashboard" class="myButton" data-toggle="tooltip" title="Demo Submitter"
                                type="submit" name="demoEmail" value="DemoSubEmail">Submitter</button></div>
                </div>
                <div class="mt-5 d-flex justify-content-center">
                    <p class="mt-3 text-muted">&copy; Benci Magpoc 2022</p>
                </div>
            </div>
        </form>
    </div>
    <!-- </div> -->

</div>


<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/Ample/landing-assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/Ample/landing-assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/Ample/landing-assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Ample/landing-assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/Ample/landing-assets/js/custom.js"></script>
</body>

</html>

@*
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@
